.box, .box-transition {
    width: 50px;
    height: 50px;
    padding: 4px;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    border: 4px solid #fff;
    background-color: black;
  }

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#grid-container {
    font-size: 0;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    gap: 3px;
  }

.box-transition {
  background-color: aqua;
}